    @font-face {
        font-family: 'TrajanProBold';
        src: url('fonts/TrajanProBold.ttf') format('truetype');
    }
    
    @font-face {
        font-family: 'proxima';
        src: url('fonts/proxima.otf') format('opentype');
    }
    
    body {
        font-family: 'proxima';
        color: #D20000;
        background-color: black;
    }
    
    h3 {
        font-size: 2rem;
    }
    
    p {
        font-size: 1.5rem;
        color: black;
    }
    /************************       header              ************************/
    
    header.container-fluid {
        background-color: rgb(0, 0, 0);
        position: fixed;
        top: 0;
        z-index: 100;
        width: calc(100% - 15px);
        padding:0;
        /*opacity:0.4;*/
    }
    
    header h2, h3{
        margin-top: 0.25rem;
        font-family: 'TrajanProBold';
    }

header a.btn {
    border: 2px solid #D20000;
    padding: 0;
    border-radius: 2.1rem;
    transition: opacity .2s;
}
    
    header a.btn:hover {
        opacity: 0.6;
    }
    
    img.logo-img {
        height: 4rem;
    }

header .mobile-col a {
    font-size:1rem;
}


header a {
    color: #fff;
    text-decoration: none;
    line-height: 4rem;
    letter-spacing: .06rem;
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
    padding-right: 2.6rem;
    transition: color .5s;
}

    header a:hover {
        color: #D20000;
        text-decoration: none;
    }

/*****************************          form           ************************/
form#signUp .form-control:focus {
    border-color: #495057;
    box-shadow: 0 0 0 0.2rem #d2000073;
}
#signUp {
    position: fixed;
    top: 30%;
    left: 25%;
    width: 50%;
    background-color: black;
    padding: 2rem;
    border-radius: 0.5rem;
    border: 2px solid #fff;
}
#signUp.row{
    display:block;
}

    #signUp span.close {
        right: 1rem;
        top: 1rem;
        opacity: 0.5;
    }
        #signUp span.close:hover {
            opacity: 1;
        }
        #signUp span.close:before, #signUp span.close::after {
            background-color: #fff;
        }
        /*****************************          GYM         ****************************/
        .close {
            position: absolute;
            right: 0;
            top: -1rem;
            width: 2rem;
            height: 2rem;
            opacity: 0.3;
            cursor: pointer;
            z-index:3;
        }

    .close:hover {
        opacity: 1;
    }

    .close:before, .close:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: #333;
    }

    .close:before {
        transform: rotate(45deg);
    }

    .close:after {
        transform: rotate(-45deg);
    }

#gym1, #gym2, #table {
    position: fixed;
    top: 30%;
    left: 20%;
    width: 60%;
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
    border: 2px solid #D20000;
}

.row#gym2 .btn {
    background-color: #495057;
}

/**************     PARALLAX        ****************/
.parallax {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: visible;
    -webkit-perspective: 300px;
    perspective: 300px;
    scroll-behavior: smooth;
}
    
    .group {
        position: relative;
        height: 100vh;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    
    .layer {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    
    .base {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        z-index: 10;
    }
    
    .back {
        -webkit-transform: translateZ(-300px) scale(2.3);
        transform: translateZ(-300px) scale(2.3);
    }
    
    .fore {
        -webkit-transform: translateZ(90px) scale(.7);
        transform: translateZ(90px) scale(.7);
        z-index: 1;
        height: 10rem;
    }

#group1, #group3 {
    z-index: 5;
}
    
    #group2 .back {
        background-color: black;
        background: url(img/sparta-family_e.png);
        background-repeat: no-repeat;
        background-position: center;
    }

#group4 .back {
    background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,0.85) 50%, rgba(0,0,0,1) 70%), url(img/mma_3.jpg) no-repeat;
    background-position: center;
    background-size: contain;
}
#group4 .back1 {
    background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,0.80) 45%, rgba(0,0,0,1) 80%), url(img/mma_3.jpg) no-repeat;
    -webkit-transform: translateZ(-300px) scale(2.3);
    transform: translateZ(-300px) scale(2.3);
}

#group4 .back2 {
    background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,0.80) 45%, rgba(0,0,0,1) 80%), url(img/box_2.jpg) no-repeat;
    -webkit-transform: translateZ(-300px) scale(2.3);
    transform: translateZ(-300px) scale(2.3);
}

#group4 .back3 {
    background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,0.80) 45%, rgba(0,0,0,1) 80%), url(img/bjj_2.jpg) no-repeat;
    -webkit-transform: translateZ(-300px) scale(2.3);
    transform: translateZ(-300px) scale(2.3);
}

#group4 .back4 {
    background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,0.80) 45%, rgba(0,0,0,1) 80%), url(img/crossfit_2.jpg) no-repeat;
    -webkit-transform: translateZ(-300px) scale(2.3);
    transform: translateZ(-300px) scale(2.3);
}
#group4 .back1, #group4 .back2, #group4 .back3, #group4 .back4 {
    background-position: center;
    background-size: contain;
    }

@media screen and (max-width: 768px){
    .parallax {
        height: 100%;
        overflow-x: hidden;
        overflow-y: visible;
        -webkit-perspective: 0px;
        perspective: 0px;
    }
    .group {
        height: 100%;
        -webkit-transform-style: flat;
        transform-style: flat;
    }

    .layer {
        position: relative;
    }

    .base {
        z-index: 10;
    }

    .back, .fore {
        display:none;
    }

}
/**************************             CAROUSEL            ***************************/
.carousel-background {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 10%, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 1) 90%);
    z-index: 2;
}
    
    .carousel-item {
        height: 100vh;
    }
    
    .carousel-item img {
        height: 100%;
        object-fit: contain;
    }

.carousel-caption,
#group2 h2,
p.card-text, .table-dark thead th {
    text-shadow: 2px 2px 4px #D20000, -2px -2px 4px #D20000;
}
    
    a.carousel-control-prev,
    a.carousel-control-next {
        z-index: 3;
    }
    /***************************            group2              **********************************/
    
    #group2 img {
        width: 100%;
        border: 2px white solid;
        border-radius: 0.5rem;
        box-shadow: 0px 0px 4px 2px #D20000;
    }
    
    #group2 h2,
    #group3 h2,
    #group4 h2,
    #group5 h2{
        color: white;
        text-shadow: 2px 2px 4px #D20000, -2px -2px 4px #D20000;
        font-size: 3rem;
        text-align: center;
    }
    /*****************************                         group3                                 ************************/
    
    #group3 .row {
        padding-top: 16rem;
    }

#group3 .btn,
header .form-row .btn, 
form#signUp .btn, 
#group5 .btn,
#gym2 .btn{
    color: #ffffff;
    border: 2px solid #D20000;
    font-size: 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    background-color: transparent;
}

    #group3 .btn:hover,
    header .form-row .btn:hover,
    #signUp .form-row .btn:hover,
    #group5 .btn:hover,
    #gym2 .btn:hover,
    #inputNumber:hover{
        color: #D20000;
        box-shadow: 0px 0px 4px 2px #D20000;
    }
    
    #group3 .card {
        background-color: transparent;
        border:none;
    }
    
    #group3 .card-img-top {
        border: 2px solid white;
        border-radius: calc(100% - 1px);
    }
    /*******************        group4      ********************************/
    
    #group4 .row {
        padding-top: 8rem;
    }

#group4 .check {
    background: url(img/helmet.png) no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    position: relative;
}
    #group4 .check:hover {
        background: rgb(255,255,255);
        background: radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(210,0,0,0.5) 50%, rgba(255,255,255,0) 100%),url(img/helmet.png) no-repeat;
        background-size: contain;
        background-position: center;
    }

    #group4 .table-dark {
        background-color: transparent;
        margin-top: 8rem;
        text-align:center;
    }

        #group4 .table-dark th:first-child {
            text-align: left;
        }

#group4 .check:hover::after {
    content: "Кликни и запишись!";
    color: #fff;
    position: absolute;
    left: 0;
    bottom: -2rem;
    right: 0;
    z-index: 1;
    background: rgba(0,0,0,0.5);
    font-size: 11px;
    font-weight: bold;
    padding: 5px 10px;
    border: 2px solid #fff;
    border-radius: 0.5rem;
}
/*********************                     group5                    **** *************************/
#group5 .row {
    padding-top: 8rem;
    background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,0.80) 45%, rgba(0,0,0,1) 80%), url(img/crossfit_3.jpg);
    background-position: center;
    background-size: contain;
    height: 100vh;
}

#group5 p{
    color:white;
}

.row{
    padding: 1rem;
}
@media screen and (max-width: 768px) {
    #group5 .row, .textAlign {
        text-align: center;
    }
    .tableBig td, .tableBig th, .price td, .price th,#table td, #table th {
        padding: .3rem;
    }
    td{
        text-align:center;
    }
    #signUp, #gym1, #gym2, #table {
        position: fixed;
        top: 5%;
        left: 10%;
        width: 90%;
        z-index:110;
    }
    #gym1, #gym2 {
        top: 25%;
    }
    .gimPrice{
        font-size:medium;
    }
    #gym1{
        padding: 1rem 0 0 0;
    }
    #gym2Btn, #gymCheck{
        margin: 1rem 0;
    }
    #group4 .check:hover::after {
        content: "Жми";
        font-size: 8px;
        font-weight: bold;
        padding: 0;
        border: 2px solid #fff;
        border-radius: 0.5rem;
    }
}
@media screen and (min-width: 768px) {
    .textAlign {
        text-align: right;
    }
    .tableBig td, .tableBig th, .price td, .price th {
        padding: .75rem;
    }
}
